* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  background-color: #cff3d3;
  border-radius: 8px;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;
}

.post-enter {
  transform: translateX(-30px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-out;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-30px);
  transition: all 500ms ease-out;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.page {
  padding: 5px 10px;
  background-color: #bd84f8;
  border-radius: 20%;
  cursor: pointer;
  margin: 5px;
  color: white;
}

.page__current {
  border: 1px solid #bd84f8;
  background-color: transparent;
  color: #bd84f8;
  font-weight: bold;
}


@media (prefers-color-scheme: dark) {
  .post {
    background-color: #161616;

  }
}
