.navbar {
    height: 50px;
    width: 100vw;
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background: #cff3d3;
}

.navbar__links {
    margin: 0 30px;
}

.navbar__link {
    color: #213547;
    margin: 0 10px;
}
.navbar__link:hover {
    color: #8443c8;
}

.navbar__link_active {
    color: #8443c8;
    margin: 0 10px;
}
.navbar__link_active:hover {
    color: #9a4fea;
}

@media (prefers-color-scheme: dark) {
    .navbar {
        background: #161616;
    }
    .navbar__link {
        color: #bd84f8;
    }
    .navbar__link:hover {
        color: white;
    }
    .navbar__link_active {
        color: #feffff;
    }
    .navbar__link_active:hover {
        color: #feffff;
    }
}
